.back {
    height: 270px;
    width: 230px;
    background: rgba(59, 134, 134, 1);
    background: -moz-linear-gradient(left, rgba(59, 134, 134, 1) 0%, rgba(168, 219, 168, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(59, 134, 134, 1)), color-stop(100%, rgba(168, 219, 168, 1)));
    background: -webkit-linear-gradient(left, rgba(59, 134, 134, 1) 0%, rgba(168, 219, 168, 1) 100%);
    background: -o-linear-gradient(left, rgba(59, 134, 134, 1) 0%, rgba(168, 219, 168, 1) 100%);
    background: -ms-linear-gradient(left, rgba(59, 134, 134, 1) 0%, rgba(168, 219, 168, 1) 100%);
    background: linear-gradient(to right, rgba(59, 134, 134, 1) 0%, rgba(168, 219, 168, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8686', endColorstr='#a8dba8', GradientType=1);
    position: absolute;
    top: 17px;
    left: 17px;
}

@media(min-width: 850px) {
    .holder {
        position: relative;
        margin-right: 60px;
    }
}

.profile {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(/images/profile.jpg);
    width: 230px;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}